<section class="slice slice-lg delimiter-top delimiter-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="mb-md">
          <h4 class="h5">How do I upload my work?</h4>
          <p class="mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
        <div class="mb-md">
          <h4 class="h5">Which license do I need?</h4>
          <p class="mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
        <div class="mb-md">
          <h4 class="h5">How do I get a receipt for my purchase?</h4>
          <p class="mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="mb-md">
          <h4 class="h5">How can I get a refund?</h4>
          <p class="mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
        <div class="mb-md">
          <h4 class="h5">How do I get access to a theme I purchased?</h4>
          <p class="mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
        <div>
          <h4 class="h5">How do I upload my work?</h4>
          <p class="mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </div>
    </div>
  </div>
</section>
