<header>
  <nav class="navbar navbar-expand-lg navbar-transparent py-3" id="navbar_main" [ngClass]="{'navbar-dark bg-dark': isDark(), 'navbar-light bg-white': !isDark()}"> <!-- navbar-light bg-white -->
    <div class="container">
      <a class="navbar-brand mr-lg-5" routerLink="/home"><strong>Kepler</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_main_collapse" aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar_main_collapse">
        <ul class="navbar-nav align-items-lg-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Accueil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" routerLinkActive="active" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
            <div class="dropdown-menu dropdown-menu-lg py-0">
              <div class="list-group list-group-flush">
                <a routerLink="#" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <img src="assets/img/icons/dusk/svg/browser-window.svg" class="img-saturate" style="width: 60px;">
                    <div class="media-body ml-3">
                      <h2 class="heading h6 mb-1">Landing Pages</h2>
                      <p class="mb-0">A great point to start from.</p>
                    </div>
                  </div>
                </a>
                <a routerLink="#" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <img src="assets/img/icons/dusk/svg/details-popup.svg" class="img-saturate" style="width: 60px;">
                    <div class="media-body ml-3">
                      <h2 class="heading h6 mb-1">Secondary Pages</h2>
                      <p class="mb-0">Build your website with these demos.</p>
                    </div>
                  </div>
                </a>
                <a routerLink="#" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <img src="assets/img/icons/dusk/svg/form.svg" class="img-saturate" style="width: 60px;">
                    <div class="media-body ml-3">
                      <h2 class="heading h6 mb-1">Account Pages</h2>
                      <p class="mb-0">User account management made easy.</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pricing" routerLinkActive="active" role="button">Pricing</a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Connexion</a>
          </li>
          <li class="nav-item mr-0">
            <a routerLink="/register" routerLinkActive="active" class="nav-link d-lg-none">Inscription</a>
            <a routerLink="/register" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
              <span class="btn-inner--icon"><i class="fa fa-user-circle"></i></span>
              <span class="btn-inner--text">Inscription</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
