<header>
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-3" id="navbar_main">
    <div class="container">
      <a class="navbar-brand mr-lg-5" href="index.html"><strong>Urban</strong>Post</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_main_collapse" aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar_main_collapse">
        <ul class="navbar-nav align-items-lg-center">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Overview</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="index.html#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
            <div class="dropdown-menu dropdown-menu-lg py-0">
              <div class="list-group list-group-flush">
                <a href="pages/pages-landing.html" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <img src="assets/img/icons/dusk/svg/browser-window.svg" class="img-saturate" style="width: 60px;">
                    <div class="media-body ml-3">
                      <h2 class="heading h6 mb-1">Landing Pages</h2>
                      <p class="mb-0">A great point to start from.</p>
                    </div>
                  </div>
                </a>
                <a href="pages/pages-secondary.html" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <img src="assets/img/icons/dusk/svg/details-popup.svg" class="img-saturate" style="width: 60px;">
                    <div class="media-body ml-3">
                      <h2 class="heading h6 mb-1">Secondary Pages</h2>
                      <p class="mb-0">Build your website with these demos.</p>
                    </div>
                  </div>
                </a>
                <a href="pages/pages-account.html" class="list-group-item list-group-item-action">
                  <div class="media d-flex align-items-center">
                    <img src="assets/img/icons/dusk/svg/form.svg" class="img-saturate" style="width: 60px;">
                    <div class="media-body ml-3">
                      <h2 class="heading h6 mb-1">Account Pages</h2>
                      <p class="mb-0">User account management made easy.</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="docs/alerts.html" role="button">Components</a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="docs/introduction.html" target="_blank">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="docs/changelog.html" target="_blank">Changelog</a>
          </li>
          <li class="nav-item mr-0">
            <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="nav-link d-lg-none">Purchase now</a>
            <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
              <span class="btn-inner--icon"><i class="fas fa-shopping-cart"></i></span>
              <span class="btn-inner--text">Purchase now</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
