<section class="slice slice-lg bg-secondary">
  <div class="container">
    <div class="mb-lg text-center">
      <h3>Benefits</h3>
      <div class="fluid-paragraph text-center mt-4">
        <p class="lead lh-180">You get all Bootstrap components fully customized. Besides, you receive another numerous plugins out of the box and ready to use.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row row-grid">
          <div class="col-lg-6">
            <div class="px-5">
              <div class="icon text-primary mb-3">
                <img src="../assets/img/icons/dusk/png/realtime.png" class="img-fluid">
              </div>
              <h5 class="heading h5">Easy to install or update</h5>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="px-5">
              <div class="icon text-primary mb-3">
                <img src="../assets/img/icons/dusk/png/administrative-tools.png" class="img-fluid">
              </div>
              <h5 class="heading h5">Powerful features and components</h5>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="row row-grid">
          <div class="col-lg-6">
            <div class="px-5">
              <div class="icon text-primary mb-3">
                <img src="../assets/img/icons/dusk/png/stairs-up.png" class="img-fluid">
              </div>
              <h5 class="heading h5">Optimized for performance</h5>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="px-5">
              <div class="icon text-primary mb-3">
                <img src="../assets/img/icons/dusk/png/paint-palette.png" class="img-fluid">
              </div>
              <h5 class="heading h5">Infinite colors and Sass variables</h5>
              <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






<section class="slice slice-lg bg-secondary">
  <div class="container">
    <div class="mb-md text-center">
      <h3>The main features of Purpose</h3>
      <div class="fluid-paragraph text-center mt-4">
        <p class="lead lh-180">You get all Bootstrap components fully customized. Besides, you receive another numerous plugins out of the box and ready to use.</p>
      </div>
    </div>
    <div class="row row-grid">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body py-5">
            <div class="d-flex align-items-start">
              <div class="icon text-primary">
                <i class="fab fa-twitter"></i>
              </div>
              <div class="icon-text">
                <h5 class="h5">Latest Bootstrap framework</h5>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body py-5">
            <div class="d-flex align-items-start">
              <div class="icon text-primary">
                <i class="fab fa-sass"></i>
              </div>
              <div class="icon-text">
                <h5 class="h5">Built with Sass</h5>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-grid">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body py-5">
            <div class="d-flex align-items-start">
              <div class="icon text-primary">
                <i class="fas fa-th-large"></i>
              </div>
              <div class="icon-text">
                <h5 class="h5">150 customized components</h5>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body py-5">
            <div class="d-flex align-items-start">
              <div class="icon text-primary">
                <i class="fas fa-tint"></i>
              </div>
              <div class="icon-text">
                <h5 class="h5">Extended color palette</h5>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-xl bg-secondary">
  <div class="container">
    <div class="mb-md text-center">
      <h3>The main features of Purpose</h3>
      <div class="fluid-paragraph text-center mt-4">
        <p class="lead lh-180">You get all Bootstrap components fully customized. Besides, you receive another numerous plugins out of the box and ready to use.</p>
      </div>
    </div>
    <div class="row row-grid text-center">
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="../assets/img/icons/dusk/png/code.png" class="img-fluid">
          </div>
          <h5 class="h5">Clever markup</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="../assets/img/icons/dusk/png/toolbar-top.png" class="img-fluid">
          </div>
          <h5 class="h5">Responsive design</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="../assets/img/icons/dusk/png/online-support.png" class="img-fluid">
          </div>
          <h5 class="h5">Technical support</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="row row-grid text-center">
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="../assets/img/icons/dusk/png/code.png" class="img-fluid">
          </div>
          <h5 class="h5">Clever markup</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="../assets/img/icons/dusk/png/toolbar-top.png" class="img-fluid">
          </div>
          <h5 class="h5">Responsive design</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="../assets/img/icons/dusk/png/online-support.png" class="img-fluid">
          </div>
          <h5 class="h5">Technical support</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-lg-4">
        <div class="pt-lg-md pb-lg-md text-center text-lg-left">
          <h2 class="heading h3 mb-3">Super easy to implement</h2>
          <p class="lead lh-180">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
          <a href="landing-cloud-hosting.html#" class="btn btn-primary btn-circle mt-4">Learn more</a>
        </div>
      </div>
      <div class="col-lg-7 ml-lg-auto">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="icon text-primary mb-3">
                  <img src="../assets/img/icons/dusk/png/administrative-tools.png" class="img-fluid">
                </div>
                <h5 class="h5">Cloud compute</h5>
                <p>Purpose is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-body">
                <div class="icon text-primary mb-3">
                  <img src="../assets/img/icons/dusk/png/business.png" class="img-fluid">
                </div>
                <h5 class="h5">Dedicated servers</h5>
                <p>Purpose is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 pt-lg-md pt-4">
            <div class="card mb-4">
              <div class="card-body">
                <div class="icon text-primary mb-3">
                  <img src="../assets/img/icons/dusk/png/desktop-download.png" class="img-fluid">
                </div>
                <h5 class="h5">Block storage</h5>
                <p>Purpose is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-body">
                <div class="icon text-primary mb-3">
                  <img src="../assets/img/icons/dusk/png/realtime.png" class="img-fluid">
                </div>
                <h5 class="h5">Dedicated cloud</h5>
                <p>Purpose is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg bg-secondary">
  <div class="container">
    <div class="mb-md text-center">
      <h3 class="heading h3">Find your motivation</h3>
      <div class="fluid-paragraph text-center mt-4">
        <p class="lead lh-180">You get all Bootstrap components fully customized. Besides, you receive another numerous plugins out of the box and ready to use.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="row row-grid">
          <div class="col-md-6">
            <div class="card">
              <div class="py-4 text-center">
                <span class="display-3 text-primary">1.</span>
              </div>
              <div class="px-4 pb-5 text-center">
                <h5 class="h4">Download Purpose</h5>
                <p class="mt-2">Purpose is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="py-4 text-center">
                <span class="display-3 text-primary">2.</span>
              </div>
              <div class="px-4 pb-5 text-center">
                <h5 class="h4">Change its colors</h5>
                <p class="mt-2">Purpose is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-grid">
          <div class="col-md-6">
            <div class="card">
              <div class="py-4 text-center">
                <span class="display-3 text-primary">3.</span>
              </div>
              <div class="px-4 pb-5 text-center">
                <h5 class="h4">Customize appearance</h5>
                <p class="mt-2">Purpose is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="py-4 text-center">
                <span class="display-3 text-primary">4.</span>
              </div>
              <div class="px-4 pb-5 text-center">
                <h5 class="h4">Build website</h5>
                <p class="mt-2">Purpose is a great free UI package based on Bootstrap 4 that includes the most important components and features.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
