<section class="slice slice-lg bg-secondary">
  <div class="container pt-lg-md">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <form class="form-stacked">
            <div class="text-center mb-4">
              <img class="mb-4" src="../assets/img/brand/purpose-solid.svg" alt="" width="72" height="72">
              <h4 class="heading h3">Welcome back</h4>
            </div>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control form-control-lg" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control form-control-lg" placeholder="Password" required>
            <div class="custom-control custom-checkbox my-4">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label font-weight-700" for="customCheck1">Remember me</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018 Webpixels.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

