<section class="spotlight bg-primary bg-cover bg-size--cover" data-spotlight="fullscreen" style="background-image: url('../assets/img/backgrounds/light-texture.svg'); background-position: center center;">
  <span class="mask bg-primary alpha-4"></span>
  <div class="spotlight-holder py-lg pt-lg-xl">
    <div class="container d-flex align-items-center">
      <div class="col">
        <div class="row cols-xs-space align-items-end text-center text-md-left justify-content-center">
          <div class="col-lg-7">
            <div class="text-center">
              <img src="assets/img/brand/icon.png" style="width: 120px;">
              <h2 class="text-white my-4">
                <span class="display-4 font-weight-bold">UrbanPost</span>
                <!--<span class="d-block d-lg-inline font-weight-light">UI Kit</span>-->
              </h2>
              <p class="lead text-white">Purpose is a unique and beautiful collection of UI elements that are all flexible and modular. A complete and customizable solution to building the website of your dreams.</p>
              <div class="mt-5">
                <a href="index.html#sct_features" class="btn btn-white btn-circle btn-translate--hover btn-icon mr-sm-4 scroll-me">
                  <span class="btn-inner--text">Explore Features</span>
                  <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                </a>
                <a href="index.html#sct_page_examples" class="btn btn-danger btn-circle btn-translate--hover btn-icon d-none d-sm-inline-block scroll-me">
                  <span class="btn-inner--icon"><i class="fas fa-file-alt"></i></span>
                  <span class="btn-inner--text">Page Examples</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="index.html#sct_page_examples" class="tongue tongue-bottom scroll-me"><i class="fas fa-angle-down"></i></a>
</section>

<section id="sct_page_examples" class="slice slice-lg delimiter-bottom">
  <div class="container">
    <div class="mb-lg text-center">
      <h3 class="h2 mb-3">Page Examples</h3>
      <div class="fluid-paragraph text-center">
        <p class="lead mb-0">Explore the live examples of the pre-built page layouts that were made with customization and re-usablity in mind. Let us amaze you with a level of quality in design and code never seen before in a Bootstrap theme.</p>
      </div>
    </div>
    <div class="row row-grid text-center">
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="assets/img/icons/dusk/png/code.png" class="img-fluid">
          </div>
          <h5 class="h5">Clever markup</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="assets/img/icons/dusk/png/toolbar-top.png" class="img-fluid">
          </div>
          <h5 class="h5">Responsive design</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="assets/img/icons/dusk/png/online-support.png" class="img-fluid">
          </div>
          <h5 class="h5">Technical support</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="row row-grid text-center">
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="assets/img/icons/dusk/png/administrative-tools.png" class="img-fluid">
          </div>
          <h5 class="h5">Clever markup</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="assets/img/icons/dusk/png/business.png" class="img-fluid">
          </div>
          <h5 class="h5">Responsive design</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="assets/img/icons/dusk/png/desktop-download.png" class="img-fluid">
          </div>
          <h5 class="h5">Technical support</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice bg-secondary delimiter-bottom">
  <div class="container swiper-js-container">
    <div class="swiper-js-container row align-items-center">
      <div class="col-lg-4">
        <div class="pr-4">
          <h4>Testimonials</h4>
          <p class="lead mt-3">Don't trust us. See what our clients are saying about our product.</p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="swiper-container" data-swiper-items="2" data-swiper-space-between="20" data-swiper-md-items="3" data-swiper-md-space-between="0" data-swiper-sm-items="2" data-swiper-sm-space-between="20" data-swiper-xs-items="1" data-swiper-sm-space-between="0">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <span class="avatar avatar-sm bg-red">HW</span>
                    <div class="avatar-content">
                      <h5 class="h6 mb-0">Heather Wright</h5>
                      <small class="d-block text-muted">Google</small>
                    </div>
                  </div>
                  <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
                  <span class="static-rating static-rating-sm">
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <span class="avatar avatar-sm bg-red">HW</span>
                    <div class="avatar-content">
                      <h5 class="h6 mb-0">John Sullivan</h5>
                      <small class="d-block text-muted">Apple</small>
                    </div>
                  </div>
                  <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
                  <span class="static-rating static-rating-sm">
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <span class="avatar avatar-sm bg-red">HW</span>
                    <div class="avatar-content">
                      <h5 class="h6 mb-0">James Lewis</h5>
                      <small class="d-block text-muted">Facebook</small>
                    </div>
                  </div>
                  <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
                  <span class="static-rating static-rating-sm">
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                    <i class="star fas fa-star voted"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination w-100 pt-4 d-flex align-items-center justify-content-center"></div>
      </div>
    </div>
  </div>
</section>



<section class="slice slice-lg delimiter-bottom">
  <div class="container">
    <div class="row row-grid text-center">
      <div class="blurable--hover">
        <a href="landing-3.html#">
          <div class="row blurable-item">
            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
              <div class="px-4 py-4">
                <img src="../assets/img/prv/partners/brand-1.png" class="img-fluid img-grayscale">
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
              <div class="px-4 py-4">
                <img src="../assets/img/prv/partners/brand-2.png" class="img-fluid img-grayscale">
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
              <div class="px-4 py-4">
                <img src="../assets/img/prv/partners/brand-3.png" class="img-fluid img-grayscale">
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
              <div class="px-4 py-4">
                <img src="../assets/img/prv/partners/brand-4.png" class="img-fluid img-grayscale">
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
              <div class="px-4 py-4">
                <img src="../assets/img/prv/partners/brand-5.png" class="img-fluid img-grayscale">
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
              <div class="px-4 py-4">
                <img src="../assets/img/prv/partners/brand-6.png" class="img-fluid img-grayscale">
              </div>
            </div>
          </div>
          <span class="blurable-hidden btn btn-sm btn-info btn-circle">See all customers</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg pt-100" data-delimiter-after="1">
  <div class="container">
    <div class="row row-grid align-items-center justify-content-around">
      <div class="col-lg-5">
        <div class="bg-circles d-none">
          <span></span>
          <span></span>
          <span></span>
          <!-- <span></span> -->
        </div>
        <img src="assets/img/svg/static_assets.svg" class="img-center img-fluid w-75 mx-auto">
      </div>
      <div class="col-lg-5">
        <div class="pr-md-4">
          <div class="icon icon-shape shadow rounded-circle bg-orange text-white mb-4">
            <i class="fab fa-html5"></i>
          </div>
          <h1 class="h3">Made with the latest technologies</h1>
          <p class="lead">We use the latest technologies and tools in order to create a better code that not only works great, but it is easy easy to work with too.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg">
  <div class="container">
    <div class="row row-grid align-items-center justify-content-around">
      <div class="col-lg-5 order-lg-2">
        <img src="assets/img/svg/hello.svg" class="img-center img-fluid w-75">
      </div>
      <div class="col-lg-5 order-lg-1">
        <div class="pr-md-4">
          <div class="icon icon-shape shadow rounded-circle bg-yellow text-white mb-4">
            <i class="fab fa-node-js"></i>
          </div>
          <h1 class="h3">Built by developers for developers</h1>
          <p class="lead">We are developers too and we know exactly what you need. You don't only need a theme, but also great tools in order to ease the process. And this is exactly what we offer you.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg bg-secondary">
  <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8 text-center">
        <h3 class="h3 font-weight-400">I am ready to start a new project with <span class="font-weight-700">Purpose</span> UI Kit.</h3>
        <div class="mt-5">
          <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-primary btn-circle btn-translate--hover px-4">Purchase now<span class="badge badge-pill badge-danger">$49 USD</span></a>
          <a href="mailto:support@webpixels.io?subject=Purpose Website UI Kit - You issue here ..." class="btn btn-link">Have an issue?</a>
        </div>
      </div>
    </div>
  </div>
</section>
