<section class="spotlight bg-primary bg-cover bg-size--cover" data-spotlight="fullscreen" style="background-image: url('../assets/img/backgrounds/light-texture.svg'); background-position: center center;">
  <span class="mask bg-primary alpha-4"></span>
  <div class="spotlight-holder py-lg pt-lg-xl">
    <div class="container d-flex align-items-center">
      <div class="col">
        <div class="row cols-xs-space align-items-end text-center text-md-left justify-content-center">
          <div class="col-lg-7">
            <div class="text-center">
              <img src="assets/img/brand/icon.png" style="width: 120px;">
              <h2 class="text-white my-4">
                <span class="display-4 font-weight-bold">Welcome to Kepler !</span>
                <!--<span class="d-block d-lg-inline font-weight-light">UI Kit</span>-->
              </h2>
              <p class="lead text-white">Purpose is a unique and beautiful collection of UI elements that are all flexible and modular. A complete and customizable solution to building the website of your dreams.</p>
              <div class="mt-5">
                <a href="index.html#sct_features" class="btn btn-white btn-circle btn-translate--hover btn-icon mr-sm-4 scroll-me">
                  <span class="btn-inner--text">Explore Features</span>
                  <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
                </a>
                <a href="index.html#sct_page_examples" class="btn btn-danger btn-circle btn-translate--hover btn-icon d-none d-sm-inline-block scroll-me">
                  <span class="btn-inner--icon"><i class="fas fa-file-alt"></i></span>
                  <span class="btn-inner--text">Page Examples</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="tongue tongue-bottom"><svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg><!-- <i class="fas fa-angle-down"></i> --></span>
</section>

<section class="slice slice-lg delimiter-bottom">
  <div class="container">
    <div class="mb-lg text-center">
      <h6 class="text-uppercase ls-2 text-muted font-weight-700">Services</h6>
      <h3 class="h2 mb-3">Page Examples</h3>
      <div class="fluid-paragraph text-center">
        <p class="lead mb-0">Explore the live examples of the pre-built page layouts that were made with customization and re-usablity in mind. Let us amaze you with a level of quality in design and code never seen before in a Bootstrap theme.</p>
      </div>
    </div>
    <div class="row row-grid text-center">
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="assets/img/icons/dusk/png/code.png" class="img-fluid">
          </div>
          <h5 class="h5">Clever markup</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="assets/img/icons/dusk/png/toolbar-top.png" class="img-fluid">
          </div>
          <h5 class="h5">Responsive design</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="assets/img/icons/dusk/png/online-support.png" class="img-fluid">
          </div>
          <h5 class="h5">Technical support</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="row row-grid text-center">
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="assets/img/icons/dusk/png/administrative-tools.png" class="img-fluid">
          </div>
          <h5 class="h5">Clever markup</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="assets/img/icons/dusk/png/business.png" class="img-fluid">
          </div>
          <h5 class="h5">Responsive design</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <div class="icon text-primary mb-3 img-center">
            <img src="assets/img/icons/dusk/png/desktop-download.png" class="img-fluid">
          </div>
          <h5 class="h5">Technical support</h5>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice delimiter-bottom">
  <div class="container">
    <div class="row justify-content-center mb-md">
      <div class="col-lg-8">
        <div class="media">
          <img class="rounded-circle mr-4" src="../assets/img/prv/team-1-800x800.jpg" style="width: 80px;" alt="Generic placeholder image">
          <div class="media-body">
            <p class="lead">"Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio vestibulum in vulputate at tempus viverra."</p>
            <span class="text-muted mt-4">John Doe — Web Designer at Webpixels</span>
          </div>
        </div>
      </div>
    </div>
    <div class="blurable--hover">
      <a href="pricing-simple.html#">
        <div class="row blurable-item">
          <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
            <div class="px-4 py-4">
              <img src="../assets/img/prv/partners/brand-1.png" class="img-fluid img-grayscale">
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
            <div class="px-4 py-4">
              <img src="../assets/img/prv/partners/brand-2.png" class="img-fluid img-grayscale">
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
            <div class="px-4 py-4">
              <img src="../assets/img/prv/partners/brand-3.png" class="img-fluid img-grayscale">
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
            <div class="px-4 py-4">
              <img src="../assets/img/prv/partners/brand-4.png" class="img-fluid img-grayscale">
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
            <div class="px-4 py-4">
              <img src="../assets/img/prv/partners/brand-5.png" class="img-fluid img-grayscale">
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
            <div class="px-4 py-4">
              <img src="../assets/img/prv/partners/brand-6.png" class="img-fluid img-grayscale">
            </div>
          </div>
        </div>
        <span class="blurable-hidden btn btn-sm btn-info btn-circle">See all customers</span>
      </a>
    </div>
  </div>
</section>




<section class="slice slice-lg pt-100" data-delimiter-after="1">
  <div class="container">
    <div class="row row-grid align-items-center justify-content-around">
      <div class="col-lg-5">
        <div class="bg-circles d-none">
          <span></span>
          <span></span>
          <span></span>
          <!-- <span></span> -->
        </div>
        <img src="assets/img/svg/static_assets.svg" class="img-center img-fluid w-75 mx-auto">
      </div>
      <div class="col-lg-5">
        <div class="pr-md-4">
          <div class="icon icon-shape shadow rounded-circle bg-orange text-white mb-4">
            <i class="fab fa-html5"></i>
          </div>
          <h1 class="h3">Made with the latest technologies</h1>
          <p class="lead">We use the latest technologies and tools in order to create a better code that not only works great, but it is easy easy to work with too.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg">
  <div class="container">
    <div class="row row-grid align-items-center justify-content-around">
      <div class="col-lg-5 order-lg-2">
        <img src="assets/img/svg/hello.svg" class="img-center img-fluid w-75">
      </div>
      <div class="col-lg-5 order-lg-1">
        <div class="pr-md-4">
          <div class="icon icon-shape shadow rounded-circle bg-yellow text-white mb-4">
            <i class="fab fa-node-js"></i>
          </div>
          <h1 class="h3">Built by developers for developers</h1>
          <p class="lead">We are developers too and we know exactly what you need. You don't only need a theme, but also great tools in order to ease the process. And this is exactly what we offer you.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg bg-secondary">
  <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8 text-center">
        <h3 class="h3 font-weight-400">I am ready to start a new project with <span class="font-weight-700">Purpose</span> UI Kit.</h3>
        <div class="mt-5">
          <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-primary btn-circle btn-translate--hover px-4">Purchase now<span class="badge badge-pill badge-danger">$49 USD</span></a>
          <a href="mailto:support@webpixels.io?subject=Purpose Website UI Kit - You issue here ..." class="btn btn-link">Have an issue?</a>
        </div>
      </div>
    </div>
  </div>
</section>
