<section class="slice slice-lg">
  <div class="container">
    <div class="mb-md text-center">
      <h3 class="heading h3">Meet the speakers</h3>
      <div class="fluid-paragraph text-center mt-4">
        <p class="lead lh-180">Start building fast, beautiful and modern looking websites in no time using Purpose reviewed by the Bootstrap Creators.</p>
      </div>
    </div>
    <div class="row mb-lg-5">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <div class="px-4">
          <img src="../assets/img/prv/team-1-800x800.jpg" class="rounded-circle shadow img-fluid">
          <div class="pt-3 text-center">
            <h3 class="heading h5 mb-1">
              <span class="d-block">John Doe</span>
              <small class="text-muted">UX Designer at Webpixels</small>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <div class="px-4">
          <img src="../assets/img/prv/team-2-800x800.jpg" class="rounded-circle img-fluid">
          <div class="pt-3 text-center">
            <h3 class="heading h5 mb-1">
              <span class="d-block">John Doe</span>
              <small class="text-muted">UX Designer at Webpixels</small>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <div class="px-4">
          <img src="../assets/img/prv/team-3-800x800.jpg" class="rounded-circle img-fluid">
          <div class="pt-3 text-center">
            <h3 class="heading h5 mb-1">
              <span class="d-block">John Doe</span>
              <small class="text-muted">UX Designer at Webpixels</small>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="px-4">
          <img src="../assets/img/prv/team-4-800x800.jpg" class="rounded-circle img-fluid">
          <div class="pt-3 text-center">
            <h3 class="heading h5 mb-1">
              <span class="d-block">John Doe</span>
              <small class="text-muted">UX Designer at Webpixels</small>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <div class="px-4">
          <img src="../assets/img/prv/team-5-800x800.jpg" class="rounded-circle img-fluid">
          <div class="pt-3 text-center">
            <h3 class="heading h5 mb-1">
              <span class="d-block">John Doe</span>
              <small class="text-muted">UX Designer at Webpixels</small>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="px-4">
          <img src="../assets/img/prv/team-6-800x800.jpg" class="rounded-circle img-fluid">
          <div class="pt-3 text-center">
            <h3 class="heading h5 mb-1">
              <span class="d-block">John Doe</span>
              <small class="text-muted">UX Designer at Webpixels</small>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
