<section class="slice slice-lg bg-secondary">
  <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8 text-center">
        <h3 class="h3 font-weight-400">I am ready to start a new project with <span class="font-weight-700">Purpose</span> UI Kit.</h3>
        <div class="mt-5">
          <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-primary btn-circle btn-translate--hover px-4">Purchase now<span class="badge badge-pill badge-danger">$49 USD</span></a>
          <a href="mailto:support@webpixels.io?subject=Purpose Website UI Kit - You issue here ..." class="btn btn-link">Have an issue?</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg bg-primary">
  <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8 text-center">
        <h3 class="h3 font-weight-400 text-white">I am ready to start a new project with <span class="font-weight-700">Purpose</span> UI Kit.</h3>
        <div class="mt-5">
          <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-white btn-circle btn-translate--hover px-4">Purchase now<span class="badge badge-pill badge-danger">$49 USD</span></a>
          <a href="mailto:support@webpixels.io?subject=Purpose Website UI Kit - You issue here ..." class="btn btn-link text-white">Have an issue?</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg bg-dark">
  <span class="tongue tongue-top"><i class="fas fa-angle-down"></i></span>
  <div class="container">
    <div class="mb-md text-center">
      <h3 class="heading h3 text-white">Subscribe for weekly news</h3>
      <div class="fluid-paragraph text-center mt-4">
        <p class="lead lh-180 text-muted">You get all Bootstrap components fully customized. Besides, you receive another 5 plugins out of the box and ready to use.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <form>
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" placeholder="Your email address">
              </div>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-lg btn-block btn-primary">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg pt-150">
  <div class="container">
    <div class="blurable--hover">
      <a href="landing-3.html#">
        <div class="row blurable-item">
          <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
            <div class="px-4 py-4">
              <img src="../assets/img/prv/partners/brand-1.png" class="img-fluid img-grayscale">
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
            <div class="px-4 py-4">
              <img src="../assets/img/prv/partners/brand-2.png" class="img-fluid img-grayscale">
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
            <div class="px-4 py-4">
              <img src="../assets/img/prv/partners/brand-3.png" class="img-fluid img-grayscale">
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
            <div class="px-4 py-4">
              <img src="../assets/img/prv/partners/brand-4.png" class="img-fluid img-grayscale">
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
            <div class="px-4 py-4">
              <img src="../assets/img/prv/partners/brand-5.png" class="img-fluid img-grayscale">
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
            <div class="px-4 py-4">
              <img src="../assets/img/prv/partners/brand-6.png" class="img-fluid img-grayscale">
            </div>
          </div>
        </div>
        <span class="blurable-hidden btn btn-sm btn-info btn-circle">See all customers</span>
      </a>
    </div>
  </div>
</section>

<section class="slice slice-lg delimiter-top">
  <div class="container">
    <div class="mb-md text-center">
      <h3 class="heading h3">Subscribe for weekly news</h3>
      <div class="fluid-paragraph text-center mt-4">
        <p class="lead lh-180">You get all Bootstrap components fully customized. Besides, you receive another numerous plugins out of the box and ready to use.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <form>
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your email address">
              </div>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-block btn-primary">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-xl bg-cover bg-size--cover" style="background-image: url('../assets/img/backgrounds/img-2.jpg'); background-position: center bottom;">
  <div class="mask bg-dark alpha-7"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center">
          <h2 class="heading h1 text-white"><strong>Design</strong> is thinking made visual.</h2>
          <p class="lead text-white mt-4">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <div class="btn-container mt-5">
            <a href="landing-5.html#" class="btn btn-lg btn-primary btn-circle px-5">Purchase now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg bg-primary">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-7 text-center">
        <h3 class="h1 text-white">You are one step away.</h3>
        <p class="lead text-white">Start building fast, beautiful and modern looking websites in no time using Purpose reviewed by the Bootstrap Creators.</p>
        <div class="mt-5">
          <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-lg btn-info btn-circle px-4">Purchase now<span class="badge badge-pill bg-pink text-white">$49 USD</span></a>
          <a href="mailto:support@webpixels.io?subject=Purpose Website UI Kit - You issue here ..." target="_blank" class="btn btn-link text-light">Have an issue?</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg delimiter-bottom">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-lg-5 order-lg-2 ml-lg-auto">
        <h3 class="h3">Experience quality</h3>
        <p class="lead mt-4">Purpose is a professional Bootstrap theme which includes over 150 ready to use layouts. From business and corporate to real estate, education, health and much more. It comes with three complete shop layouts.</p>
        <a href="landing-blog.html#" class="btn btn-primary btn-circle mt-4">Read more</a>
      </div>
      <div class="col-lg-6 order-lg-1">
        <img src="../assets/img/prv/img-1-800x600.jpg" class="img-fluid rounded shadow">
      </div>
    </div>
    <div class="mb-4 mt-lg text-center text-uppercase font-weight-bold ls-1">
      <h6>Featured on</h6>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-2 col-6 mb-4 mb-md-0">
        <div class="px-4 py-4">
          <img src="../assets/img/prv/partners/brand-1.png" class="img-fluid img-grayscale">
        </div>
      </div>
      <div class="col-md-2 col-6 mb-4 mb-md-0">
        <div class="px-4 py-4">
          <img src="../assets/img/prv/partners/brand-2.png" class="img-fluid img-grayscale">
        </div>
      </div>
      <div class="col-md-2 col-6 mb-4 mb-md-0">
        <div class="px-4 py-4">
          <img src="../assets/img/prv/partners/brand-3.png" class="img-fluid img-grayscale">
        </div>
      </div>
      <div class="col-md-2 col-6 mb-4 mb-md-0">
        <div class="px-4 py-4">
          <img src="../assets/img/prv/partners/brand-4.png" class="img-fluid img-grayscale">
        </div>
      </div>
    </div>
  </div>
</section>
