<section class="slice slice-lg bg-secondary">
  <div class="container">
    <div class="row row-grid">
      <div class="col-lg-4">
        <div class="card shadow-sm shadow--hover">
          <img src="../assets/img/prv/img-1-800x600.jpg" class="card-img-top">
          <div class="card-body py-5 text-center">
            <a href="blog.html#" class="h5 lh-150">Choose the best solution for your business</a>
            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                  </li>
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="blog.html#" class="text-light"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow-sm shadow--hover">
          <img src="../assets/img/prv/img-2-800x600.jpg" class="card-img-top">
          <div class="card-body py-5 text-center">
            <a href="blog.html#" class="h5 lh-150">How to find the right design for your specific product</a>
            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                  </li>
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="blog.html#" class="text-light"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow-sm shadow--hover">
          <img src="../assets/img/prv/img-3-800x600.jpg" class="card-img-top">
          <div class="card-body py-5 text-center">
            <a href="blog.html#" class="h5 lh-150">How to win buyers and influence sales with marketing</a>
            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                  </li>
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="blog.html#" class="text-light"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-grid">
      <div class="col-lg-4">
        <div class="card shadow-sm shadow--hover">
          <img src="../assets/img/prv/img-4-800x600.jpg" class="card-img-top">
          <div class="card-body py-5 text-center">
            <a href="blog.html#" class="h5 lh-150">Choose the best solution for your business</a>
            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                  </li>
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="blog.html#" class="text-light"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow-sm shadow--hover">
          <img src="../assets/img/prv/img-5-800x600.jpg" class="card-img-top">
          <div class="card-body py-5 text-center">
            <a href="blog.html#" class="h5 lh-150">How to find the right design for your specific product</a>
            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                  </li>
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="blog.html#" class="text-light"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow-sm shadow--hover">
          <img src="../assets/img/prv/img-6-800x600.jpg" class="card-img-top">
          <div class="card-body py-5 text-center">
            <a href="blog.html#" class="h5 lh-150">How to win buyers and influence sales with marketing</a>
            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                  </li>
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="blog.html#" class="text-light"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-grid">
      <div class="col-lg-4">
        <div class="card shadow-sm shadow--hover">
          <img src="../assets/img/prv/img-1-800x600.jpg" class="card-img-top">
          <div class="card-body py-5 text-center">
            <a href="blog.html#" class="h5 lh-150">Choose the best solution for your business</a>
            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                  </li>
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="blog.html#" class="text-light"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow-sm shadow--hover">
          <img src="../assets/img/prv/img-2-800x600.jpg" class="card-img-top">
          <div class="card-body py-5 text-center">
            <a href="blog.html#" class="h5 lh-150">How to find the right design for your specific product</a>
            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                  </li>
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="blog.html#" class="text-light"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow-sm shadow--hover">
          <img src="../assets/img/prv/img-3-800x600.jpg" class="card-img-top">
          <div class="card-body py-5 text-center">
            <a href="blog.html#" class="h5 lh-150">How to win buyers and influence sales with marketing</a>
            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                  </li>
                  <li class="list-inline-item pr-4">
                    <a href="blog.html#" class="text-light"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="blog.html#" class="text-light"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Load more -->
    <div class="mt-lg text-center">
      <a href="blog.html#" class="btn btn-dark btn-circle shadow">Load more</a>
    </div>
  </div>
</section>

<section class="slice slice-lg bg-secondary" data-delimiter-before="1" data-delimiter-after="1">
  <div class="container">
    <div class="mb-md text-center">
      <h3 class="heading h2">Latest from the blog</h3>
      <div class="fluid-paragraph mt-3">
        <p class="lead">Start building fast, beautiful and modern looking websites in no time using our theme.</p>
      </div>
    </div>
    <div class="row row-grid">
      <div class="col-lg-4">
        <div class="card shadow-sm shadow--hover">
          <img src="../assets/img/prv/img-1-800x600.jpg" class="card-img-top">
          <div class="card-body py-5 text-center">
            <a href="blog-article.html#" class="h5 lh-150">Choose the best solution for your business</a>
            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item pr-4">
                    <a href="blog-article.html#" class="text-light"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                  </li>
                  <li class="list-inline-item pr-4">
                    <a href="blog-article.html#" class="text-light"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="blog-article.html#" class="text-light"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow-sm shadow--hover">
          <img src="../assets/img/prv/img-2-800x600.jpg" class="card-img-top">
          <div class="card-body py-5 text-center">
            <a href="blog-article.html#" class="h5 lh-150">How to find the right design for your specific product</a>
            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item pr-4">
                    <a href="blog-article.html#" class="text-light"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                  </li>
                  <li class="list-inline-item pr-4">
                    <a href="blog-article.html#" class="text-light"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="blog-article.html#" class="text-light"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow-sm shadow--hover">
          <img src="../assets/img/prv/img-3-800x600.jpg" class="card-img-top">
          <div class="card-body py-5 text-center">
            <a href="blog-article.html#" class="h5 lh-150">How to win buyers and influence sales with marketing</a>
            <h6 class="text-muted mt-4 mb-0">25 April, 2018</h6>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item pr-4">
                    <a href="blog-article.html#" class="text-light"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                  </li>
                  <li class="list-inline-item pr-4">
                    <a href="blog-article.html#" class="text-light"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="blog-article.html#" class="text-light"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-cover bg-size--cover" style="height: 600px; background-image: url('../assets/img/backgrounds/img-14.jpg'); background-position: top center;">
</section>
<section class="slice">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <!-- Article body -->
        <article>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
          </p>
          <h5>First thing you need to do</h5>
          <figure class="figure">
            <img alt="Image" src="../assets/img/prv/img-3-800x600.jpg" class="img-fluid rounded">
            <figcaption class="mt-3 text-muted">Figure one: Type here your description</figcaption>
          </figure>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <h5>Second thing you need to do</h5>
          <figure class="figure">
            <img alt="Image" src="../assets/img/prv/img-4-800x600.jpg" class="img-fluid rounded">
            <figcaption class="mt-3 text-muted">Figure two: Type here your description</figcaption>
          </figure>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </article>
        <hr>
        <h5 class="mb-4">Comments</h5>
        <div class="p-5 bg-secondary border rounded">
          <div class="media">
            <img class="rounded-circle shadow mr-4" src="../assets/img/prv/team-1-800x800.jpg" style="width: 64px;" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Media heading</h5>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                lacinia congue felis in faucibus.
              </p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="blog-article.html#" class="text-light">Like</a>
                </li>
                <li class="list-inline-item"><a href="blog-article.html#" class="text-light">Reply</a>
                </li>
                <li class="list-inline-item"><a href="blog-article.html#" class="text-light">Report</a>
                </li>
              </ul>
              <div class="media mt-5">
                <a class="pr-4" href="blog-article.html#">
                  <img src="../assets/img/prv/team-2-800x800.jpg" class="rounded-circle shadow" style="width: 64px;" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                  <h5 class="mt-0">Media heading</h5>
                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                    Donec lacinia congue felis in faucibus.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="blog-article.html#" class="text-light">Like</a>
                    </li>
                    <li class="list-inline-item"><a href="blog-article.html#" class="text-light">Reply</a>
                    </li>
                    <li class="list-inline-item"><a href="blog-article.html#" class="text-light">Report</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="media mt-5">
            <img class="rounded-circle shadow mr-4" src="../assets/img/prv/team-3-800x800.jpg" style="width: 64px;" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Media heading</h5>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                lacinia congue felis in faucibus.
              </p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="blog-article.html#" class="text-light">Like</a>
                </li>
                <li class="list-inline-item"><a href="blog-article.html#" class="text-light">Reply</a>
                </li>
                <li class="list-inline-item"><a href="blog-article.html#" class="text-light">Report</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Comment form -->
          <h5 class="mt-5 mb-4">Add you comment</h5>
          <form class="form-secondary" role="form">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="sr-only">Your name</label>
                  <input class="form-control form-control-lg" placeholder="Your name" type="text">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="sr-only">Email address</label>
                  <input class="form-control form-control-lg" placeholder="Email address" type="text">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only">Phone number</label>
              <input class="form-control form-control-lg" placeholder="Phone number" type="text">
            </div>
            <div class="form-group">
              <label class="sr-only">Type your message</label>
              <textarea class="form-control form-control-lg textarea-autosize" rows="3" placeholder="Type your message"></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-block btn-primary shadow mt-4">Reply</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg">
  <div class="container">
    <div class="mb-md text-center">
      <h3 class="heading h3">Free updates and support</h3>
      <div class="fluid-paragraph text-center mt-4">
        <p class="lead lh-180">You get all Bootstrap components fully customized. Besides, you receive another numerous plugins out of the box and ready to use.</p>
      </div>
    </div>
    <div class="row row-grid">
      <div class="col-lg-4">
        <div class="card border-0" data-animate-hover="1">
          <div class="animate-this">
            <img class="rounded z-depth-3 img-fluid" src="../assets/img/prv/img-3-800x600.jpg" alt="Image description">
          </div>
          <div class="pt-4">
            <h5 class="card-title">Free updates</h5>
            <p class="card-text">Each theme comes with updates for the life of the theme. This means you'll never pay for any bug-fixes and compatibility upgrades for your theme, ever.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card border-0" data-animate-hover="1">
          <div class="animate-this">
            <img class="rounded z-depth-3 img-fluid" src="../assets/img/prv/img-2-800x600.jpg" alt="Image description">
          </div>
          <div class="pt-4">
            <h5 class="card-title">Licenses</h5>
            <p class="card-text">All our themes have three simple licenses. Free, Multiple and Exteneded Use license are availabled and you can learn more <a href="landing-5.html#">here</a>.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card border-0" data-animate-hover="1">
          <div class="animate-this">
            <img class="rounded z-depth-3 img-fluid" src="../assets/img/prv/img-1-800x600.jpg" alt="Image description">
          </div>
          <div class="pt-4">
            <h5 class="card-title">Technical support</h5>
            <p class="card-text">We're here to help with your Purpose UI questions. Shoot us an email at support@webpixels.io and we'll get back to you ASAP.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="mb-md text-center">
          <h3 class="heading h3 mb-4">Our projects</h3>
          <div class="fluid-paragraph text-center">
            <p class="lead lh-180">You get all Bootstrap components fully customized. Besides, you receive another 5 plugins out of the box and ready to use.</p>
          </div>
        </div>
        <div class="row row-grid">
          <div class="col-lg-6">
            <a href="landing-portfolio.html#" class="card border-0" data-animate-hover="1">
              <div class="animate-this">
                <img class="rounded z-depth-3 img-fluid" src="../assets/img/prv/img-1-800x600.jpg">
                <span class="mask bg-dark alpha-3"></span>
                <span class="mask mask--hover bg-gradient-primary alpha-4"></span>
                <div class="card-img-overlay d-flex">
                  <div class="col pt-2">
                    <h4 class="h3 text-white text-capitalize mb-1">The pineapple's story</h4>
                    <h6 class="text-white">Identity &amp; Web Design</h6>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="landing-portfolio.html#" class="card border-0" data-animate-hover="1">
              <div class="animate-this">
                <img class="rounded z-depth-3 img-fluid" src="../assets/img/prv/img-2-800x600.jpg">
                <span class="mask bg-dark alpha-3"></span>
                <span class="mask mask--hover bg-gradient-primary alpha-4"></span>
                <div class="card-img-overlay d-flex">
                  <div class="col pt-2">
                    <h4 class="h3 text-white text-capitalize mb-1">Beautiful colors from nature</h4>
                    <h6 class="text-white">Branding</h6>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row row-grid">
          <div class="col-lg-6">
            <a href="landing-portfolio.html#" class="card border-0" data-animate-hover="1">
              <div class="animate-this">
                <img class="rounded z-depth-3 img-fluid" src="../assets/img/prv/img-3-800x600.jpg">
                <span class="mask bg-dark alpha-3"></span>
                <span class="mask mask--hover bg-gradient-primary alpha-4"></span>
                <div class="card-img-overlay d-flex">
                  <div class="col pt-2">
                    <h4 class="h3 text-white text-capitalize mb-1">Golden beauty</h4>
                    <h6 class="text-white">Identity &amp; Web Design</h6>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="landing-portfolio.html#" class="card border-0" data-animate-hover="1">
              <div class="animate-this">
                <img class="rounded z-depth-3 img-fluid" src="../assets/img/prv/img-1-800x600.jpg">
                <span class="mask bg-dark alpha-3"></span>
                <span class="mask mask--hover bg-gradient-primary alpha-4"></span>
                <div class="card-img-overlay d-flex">
                  <div class="col pt-2">
                    <h4 class="h3 text-white text-capitalize mb-1">Living dangerously</h4>
                    <h6 class="text-white">Marketing</h6>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="text-center mt-md">
          <a href="landing-portfolio.html#" class="btn btn-sm btn-primary btn-circle">Load more</a>
        </div>
      </div>
    </div>
  </div>
</section>
