<section class="slice slice-lg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="swiper-js-container">
          <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0" data-swiper-sm-items="1" data-swiper-sm-space-between="0" data-swiper-xs-items="1" data-swiper-xs-space-between="0">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="text-center">
                  <p class="h2 lh-160 text-gray font-italic font-weight-300" style="font-family: 'Playfair Display', serif;">"Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website."</p>
                  <div class="text-center mt-4">
                    <h3 class="h5">John Sullivan</h3>
                    <span class="lead text-muted">Slack</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="text-center">
                  <p class="h2 lh-160 text-gray font-italic font-weight-300" style="font-family: 'Playfair Display', serif;">"Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website."</p>
                  <div class="text-center mt-4">
                    <h3 class="h5">James Lewis</h3>
                    <span class="lead text-muted">Instagram</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice">
  <div class="container swiper-js-container">
    <div class="swiper-js-container row align-items-center">
      <div class="col-lg-4">
        <div class="pr-4">
          <h4>Testimonials</h4>
          <p class="lead mt-3">Don't trust us. See what our clients are saying about our product.</p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="swiper-container" data-swiper-items="2" data-swiper-space-between="20" data-swiper-md-items="3" data-swiper-md-space-between="0" data-swiper-sm-items="2" data-swiper-sm-space-between="20" data-swiper-xs-items="1" data-swiper-sm-space-between="0">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <span class="avatar avatar-sm bg-red">HW</span>
                    <div class="avatar-content">
                      <h5 class="h6 mb-0">Heather Wright</h5>
                      <small class="d-block text-muted">Google</small>
                    </div>
                  </div>
                  <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
                  <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    </span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <span class="avatar avatar-sm bg-red">HW</span>
                    <div class="avatar-content">
                      <h5 class="h6 mb-0">John Sullivan</h5>
                      <small class="d-block text-muted">Apple</small>
                    </div>
                  </div>
                  <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
                  <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    </span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <span class="avatar avatar-sm bg-red">HW</span>
                    <div class="avatar-content">
                      <h5 class="h6 mb-0">James Lewis</h5>
                      <small class="d-block text-muted">Facebook</small>
                    </div>
                  </div>
                  <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
                  <span class="static-rating static-rating-sm">
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    <i class="star fas fa-star voted"></i>
                                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination w-100 pt-4 d-flex align-items-center justify-content-center"></div>
      </div>
    </div>
  </div>
</section>

