<section class="slice slice-sm bg-secondary">
  <div class="container pt-lg-md">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <form class="form-stacked">
            <div class="text-center mb-4">
              <img class="mb-4" src="../assets/img/brand/purpose-solid.svg" alt="" width="72" height="72">
              <h4 class="heading h3">Get started with Purpose</h4>
            </div>
            <label class="sr-only">Your name</label>
            <input type="text" class="form-control form-control-lg" placeholder="Your name" required autofocus>
            <label class="sr-only">Last name</label>
            <input type="email" class="form-control form-control-lg" placeholder="Email address" required>
            <label class="sr-only">Password</label>
            <input type="password" class="form-control form-control-lg" placeholder="Password" required>
            <!--<small>* Password must be at least 8 characters</small>-->
            <div class="row my-4">
              <div class="col-12">
                <p class="text-muted mb-0">By creating an account you agree to our <a href="#">Terms and Conditions</a> and our <a href="#">Privacy Policy</a>.</p>
              </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2018 Webpixels.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
