<section class="slice slice-lg bg-secondary">
  <div class="container h-100vh d-flex align-items-center">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <div class="text-center mb-4">
            <img class="mb-4" src="../assets/img/brand/purpose-solid.svg" alt="" width="72" height="72">
            <h6 class="h3">Create your free account</h6>
            <p class="text-muted mb-0">Made by developers developers</p>
          </div>
          <span class="clearfix"></span>
          <form role="form">
            <div class="form-group">
              <label class="form-control-label">Email address</label>
              <div class="input-group input-group-transparent">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input type="email" class="form-control" id="input-email" placeholder="name@example.com">
              </div>
            </div>
            <div class="form-group mb-4">
              <label class="form-control-label">Password</label>
              <div class="input-group input-group-transparent">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-key"></i></span>
                </div>
                <input type="password" class="form-control" id="input-password" placeholder="********">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="far fa-eye"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">Confirm password</label>
              <div class="input-group input-group-transparent">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-key"></i></span>
                </div>
                <input type="password" class="form-control" id="input-password-confirm" placeholder="********">
              </div>
            </div>
            <div class="my-4">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                <label class="custom-control-label" for="customCheckRegister">
                  <span>I agree to the <a routerLink="/terms-and-conditions">Terms and Conditions</a> and <a routerLink="/privacy-policy">Privacy Policy</a>.</span>
                </label>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-sm-7">
                <button type="submit" class="btn btn-primary mb-3 mb-sm-0">Create account</button>
              </div>
              <div class="col-sm-5 text-sm-right">
                <span class="small d-sm-block d-md-inline">Already registered?</span>
                <a routerLink="/login" class="small font-weight-bold">&nbsp;Sign in</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
